.form {
    text-align: right;
}

.form button {
    cursor: pointer;
    font: inherit;
    background-color: #8a2b06;
    border: 1px solid #8a2b06;
    border-radius: 20px;
    color: white;
    padding: 0.25rem 2rem;
    font-width: bold;
}

.form button:hover,
.form button:active {
    background-color: #641e03;
    border-color: #641e03;
}
